{% extends 'base.html' %}
{% load banner %}


<meta name="description" content="{% block description %}{{ service_model_view.category.description }}{% endblock description %}">
<meta name="keywords" content="{% block keywords %}{{ service_model_view.category.keywords }}{% endblock keywords %}">

<title>{% block title %}{{ service_model_view.title }}{% endblock title %}</title>


{% block header %}
{% banner_tag service_model_view %}
{% endblock header %}


{% block content %}

{{service_model_view.text}}

{% endblock content %}